/* custom css rules */

body {
    font-family: Roboto;
    background: rgb(255, 224, 229);
    font: white;
    text-align: center;

}

/* Summary css rules */
.summary-container {

    height: 100vh;
}

.summary-row {
    padding: 10%;
    height: 80vh;
    
}

.section-title {
    font-family: Futura;
    text-align: center;
}

.summary-div {
    background-image: url('foodstamps1.jpg');
    padding: 2%;
    padding-bottom:3%;
    border-width: 4px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
}

.summary-div-background {
    padding: 3%;
    background: white;
    margin-bottom: -10px;
    border-radius: 8px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
}

.summary-div-outer {
    background-image: url('foodstamps2.jpg');
    padding:3%;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: 4px;
}

/*Initial Stats*/

#initial-stats-container {
    padding: 3%;
    height: 100vh;
}

#initial-stats-container{
    font-family: Futura;
    text-align: center;
}

.stats-row {
    height: 20vh;
    display: flex;
    justify-content: center;
}

.stats-div-wrapper {
    background-image: url('foodstamps6.jpg');
    padding: 1%;
    border-radius: 5px;
    margin-right: 23px;
    border-width: 2px;
    border-color: white;
    border-style: solid;

}

.stats-div {
    text-align: center;
    padding: 2%;
    padding-bottom: 1%;
    background: white;
    border-radius: 5px;
    font-family: Futura;
}

.stats-div h1 {
    text-decoration: underline;
}

#empty-wrapper {
  /*  background-image: url('foodstamps4.jpg');*/
    width: 287px;
}

#benefit-stat {
    width: 287px;
}

.special {
    background: yellow;
    font-family: Futura;
    color: black;
}

#stats-row-bottom {
    margin-top: 10vh;
    padding-left: 4%;
}

/* First vis rules*/


#first-vis-summary {
    text-align: center;
}

.vis-container {
    padding: 1%;
    background-image: url('foodstamps5.jpg');
    border-radius: 8px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    height: 105vh;
}

.vis-background {
    background-color: white;
    padding: 2%;
}

#first-vis-title-row {
    text-align: center;
}

#chart-choice {
    margin-top: -40px;
    margin-left:120px;
    width: 200px;
}


#SNAPCategory {
    opacity: 0.8;
    clip-path: url(#clip);
}

.areaStacked {
  opacity: 0.4;
  clip-path: url(#clip);
}

.areaStacked:hover {
  opacity: 1;
}

#chart-line, #stacked {
    padding: 2%;
}

#tooltip-stacked, #chart-line-explanation, #stacked-explanation {
    font-size: 12px;
}


#state-container {
    height: 100vh;
    margin-top: 30vh;
}


/*label {
	margin: 1%;
}*/

#states-vis-container {
    height: 190vh;
}

.tmp {
    max-width: 100%;
}

#placeholder {
    margin-bottom: 3em;
}

.area {
    fill: rgba(141, 177, 203, 0.56);
    opacity: 0.7;
    clip-path: url(#clip);
}

.line {
    fill: none;
    stroke-width: 4px;
    clip-path: url(#clip);
}

.axis-label, .axis-label-area {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
}

.plot-axis-label {
    font-size: 8px;
}

#tooltip-line1, #tooltip-line2 {
    font-family: Calibri, serif;
    font-size: 15px;
}

.circle {
    clip-path: url(#clip);
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

html, body {
    overflow-x: hidden;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}
.link:hover {
    stroke-opacity: .5;
}

#map {
    text-align: left;
}

#state-name {
    font-family: Futura;
    font-size: 18px;
}

