/* custom css rules */

body {
	font-family: 'Roboto', sans-serif;
}

h1 {
}

.area {
  opacity: 0.7;
  clip-path: url(#clip);
}
.area:hover {
  opacity: 1;
}

label {
	margin: 1%;
}

/* top navbar */
.navbar-text {
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    margin-bottom: 1em;
}