/* custom css rules */

body {
	font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: left;
    margin-bottom: 2em;
}

.areaStacked {
  opacity: 0.7;
  clip-path: url(#clip);
}
.areaStacked:hover {
  opacity: 1;
}

label {
	margin: 1%;
}

/* top navbar */
.navbar-text {
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    margin-bottom: 1em;
}

.viz {
    text-align: center;
}

.container {
    margin-top: 1.5em;
}

.tmp {
    max-width: 100%;
}

#placeholder {
    margin-bottom: 3em;
}

.area {
    fill: rgba(141, 177, 203, 0.56);
    opacity: 0.7;
    clip-path: url(#clip);
}

.line {
    fill: none;
    stroke-width: 4px;
    clip-path: url(#clip);
}

.axis-label {
    font-family: Calibri, serif;
    font-size: 14px;
    font-weight: bold;
}

#tooltip-line1, #tooltip-line2 {
    font-family: Calibri, serif;
    font-size: 15px;
}

.circle {
    clip-path: url(#clip);
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

html, body {
    overflow-x: hidden;
}
.full-width-bar {
    margin: 0 -9999rem;
    /* add back negative margin value */
    padding: 0.25rem 9999rem;
    background: rgba(0, 0, 0, 0.5);
    margin-below: 2em;
}
